:root {
  --darkBlue: #33658a;
  --lightBlue: #86bbd8;
  --navy: #2f4858;
  --yellowish: #f6ae2d;
  --orange: #f26419;
  --black: #000;
  --white: #fff;
}

body {
  background: linear-gradient(#ebf4f5, #b5c6e0);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  background-color: var(--navy);
  padding: 15px;
}
header ul {
  margin: 15px;
}

.vh-80 {
  height: 80vh;
}

.header-font {
  font-family: Karla;
}

.body-font {
  font-family: Inconsolata;
}

/* ======================================== footer css ====================================*/
footer {
  background-color: var(--navy);
  padding: 5px;
}
/* ==========button toggle========== */
.bd-mode-toggle {
  z-index: 1500;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
/* ==============================light day button======================================== */
/* ==========button styles========== */
.btn-bd-primary {
  --bd-button-bg: #f6ae2d;
  --bd-button-rgb: #dedede;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-button-bg);
  --bs-btn-border-color: var(--bd-button-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #2f4858;
  --bs-btn-hover-border-color: #f6ae2d;
  --bs-btn-focus-shadow-rgb: var(--bd-button-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #2f4858;
  --bs-btn-active-border-color: #f6ae2d;
}
/* ============================== secondary colors ======================================== */

.text-body-secondary {
  --bs-secondary-color: var(--white);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
}
/* Landing Page */

.custom-nav-body {
  background-color: var(--navy)
}

.custom-nav-hamburger {
  color: var(--white);
}

.custom-nav-header {
  font-family: Karla;
  color: var(--white)!important;
  box-shadow: 2px 2px 2px 2px #fafbfb;
  border-radius: 5px;
}


.nav-link {
  color: var(--white) !important;
  text-decoration: none;
  font-family: Inconsolata;
}

.custom-active {
  background-color: var(--orange);
  border-radius: 5px;
}

.nav-link:hover {
  background-color: var(--lightBlue);
  color: var(--navy);
  box-shadow: inset 1px 1px 10px #a3cde8;
  border-radius: 5px;
}

.custom-button {
  background-color: var(--darkBlue);
  color: var(--white);
  font-family: Karla;
  border: none;
}

.custom-button:hover {
  background-color: var(--lightBlue);
  color: var(--navy);
  box-shadow: inset 1px 1px 10px #a3cde8;
}

.user-blurb-card {
  background-color: var(--yellowish);
  font-family: Karla;
  font-size: larger;
  text-align: center;
  color: var(--navy);
  box-shadow: 2px 2px 2px 2px #bdbab8;
}

.food-and-cocktail-random {
  box-shadow: 2px 2px 2px 2px #bdbab8;
}
.custom-random-card-text {
  font-family: Karla;
  color: var(--navy);
  background-color: var(--yellowish);
  text-transform: capitalize;
  border-radius: 7px;
  width: 25%;
}

/*Searchbar for the cocktail-search page once it is appended via js*/
.cocktailSearchBar,
.mealSearchBar {
  margin: 15px;
  float: right;
}

.custom-margin {
  margin-bottom: 100px;
}

/*Using this to move the categories drop down to the right*/
.dropdownForCategories {
  float: right;
}

/* DISPLAY RECIPES PAGE */
.custom-recipe-card-whole {
  background-color: var(--yellowish);
}
.custom-recipe-name {
  color: var(--navy);
  font-family: Karla;
  text-align: center;
}
.custom-recipe-ingredients li {
  color: var(--navy);
  font-family: Inconsolata;
}
.custom-recipe-ingredients button {
  background-color: var(--navy);
  border: none;
}

.custom-recipe-instructions {
  color: var(--navy);
}

.custom-other-recipes {
  background-color: var(--darkBlue);
  font-family: Inconsolata;
}

#hidden-other-el {
  display:none;
}

@media screen and (max-width: 768px) { 
  /* .custom-other-recipes {
    padding-bottom: 500px !important;
  } */
  /* #hidden-other-el {
    display:block;
    padding-top: 10px !important; */
  }
  /* footer {
    /* position: static !important; */
    /* position:static !important; */
    /* left: 0;
    right:0; */
  /* } */ 
  

