:root {
  --darkBlue: #33658a;
  --lightBlue: #86bbd8;
  --navy: #2f4858;
  --yellowish: #f6ae2d;
  --orange: #f26419;
  --black: #000;
  --white: #fff;
}

body {
  background: linear-gradient(#ebf4f5, #b5c6e0 )
}
header {
  background-color: var(--navy);
  padding: 15px;
}
header ul {
  margin: 15px;
}

.custom-nav-header {
  font-family: Karla;
  color: var(--white);
}

.nav-item {
  color: var(--white);
  text-decoration: none;
  font-family: Inconsolata;
}

.custom-active {
  background-color: var(--orange);
}

.nav-item:hover {
  background-color: var(--lightBlue);
  color: var(--navy);
  box-shadow: inset 1px 1px 10px #a3cde8;
  border-radius: 5px;
}

.vh-60 {
  height: 60vh;
}

.header-font {
  font-family: Karla;
}

.body-font {
  font-family: Inconsolata;
}

/* ======================================== footer css ====================================*/
footer {
  background-color: var(--navy);
  padding: 5px;
}
/* ==========button toggle========== */
.bd-mode-toggle {
  z-index: 1500;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
/* ==============================light day button======================================== */
/* ==========button styles========== */
.btn-bd-primary {
  --bd-button-bg: #f6ae2d;
  --bd-button-rgb: #dedede;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-button-bg);
  --bs-btn-border-color: var(--bd-button-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #2f4858;
  --bs-btn-hover-border-color: #f6ae2d;
  --bs-btn-focus-shadow-rgb: var(--bd-button-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #2f4858;
  --bs-btn-active-border-color: #f6ae2d;
}
/* ============================== secondary colors ======================================== */

.text-body-secondary {
  --bs-secondary-color: var(--black);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
}
/* Landing Page */

.custom-button {
  background-color: var(--darkBlue);
  color: var(--white);
  font-family: Karla;
  border: none;
}

.custom-button:hover {
  background-color: var(--lightBlue);
  color: var(--navy);
  box-shadow: inset 1px 1px 10px #a3cde8;
}

.user-blurb-card {
  background-color: var(--yellowish);
  font-family: Karla;
  font-size: larger;
  text-align: center;
  color: var(--navy);
}

/*Searchbar for the cocktail-search page once it is appended via js*/
.cocktailSearchBar {
  margin: 15px;
  float: right;
}

.custom-margin {
  margin-bottom: 100px;
}
