:root {
  --darkBlue: #33658a;
  --lightBlue: #86bbd8;
  --navy: #2f4858;
  --yellowish: #f6ae2d;
  --orange: #f26419;
  --black: #000;
  --white: #fff;
}

/* BACKGROUND GRADIENT ON ALL PAGES */
body {
  background: linear-gradient(#ebf4f5, #b5c6e0);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-font {
  font-family: Karla;
}

.body-font {
  font-family: Inconsolata;
}

/* FOOTER  */
footer {
  background-color: var(--navy);
  padding: 5px;
  bottom:0;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-body-secondary {
  --bs-secondary-color: var(--white);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
}


/* NAV BAR */
.custom-nav-body {
  background-color: var(--navy)
}

.custom-nav-hamburger {
  color: var(--white);
}

.custom-nav-header {
  font-family: Karla;
  color: var(--white)!important;
  box-shadow: 2px 2px 2px 2px #fafbfb;
  border-radius: 5px;
}


.nav-link {
  color: var(--white) !important;
  text-decoration: none;
  font-family: Inconsolata;
}

.custom-active {
  background-color: var(--orange);
  border-radius: 5px;
}

.nav-link:hover {
  background-color: var(--lightBlue);
  color: var(--navy);
  box-shadow: inset 1px 1px 10px #a3cde8;
  border-radius: 5px;
}

.custom-button {
  background-color: var(--darkBlue);
  color: var(--white);
  font-family: Karla;
  border: none;
}

.custom-button:hover {
  background-color: var(--lightBlue);
  color: var(--navy);
  box-shadow: inset 1px 1px 10px #a3cde8;
}

/* Landing Page */
.user-blurb-card {
  background-color: var(--yellowish);
  font-family: Karla;
  font-size: larger;
  text-align: center;
  color: var(--navy);
  box-shadow: 2px 2px 2px 2px #bdbab8;
}

.food-and-cocktail-random {
  box-shadow: 2px 2px 2px 2px #bdbab8;
}
.custom-random-card-text {
  font-family: Karla;
  color: var(--navy);
  background-color: var(--yellowish);
  text-transform: capitalize;
  border-radius: 7px;
  width: 40%;
}


.custom-margin {
  margin-bottom: 100px;
}


/* SEARCH RECIPES PAGE */
/*Using this to move the categories drop down to the right*/
.dropdownForCategories {
  float: right;
}

.custom-search-card {
  background-color: var(--yellowish);
  text-align: center;
  padding:0; 
  border: none;
  box-shadow: 2px 2px 2px 2px #bdbab8;
}

.custom-search-card button {
  font-family: Karla;
  background-color: var(--navy);
  color: var(--white);
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
}

.custom-search-card button:hover {
  background-color: var(--lightBlue);
  color: var(--navy);
  box-shadow: inset 1px 1px 10px #a3cde8; 
}

.custom-search-card ul {
  font-family: Karla;
  background-color: var(--lightBlue);
  color: var(--navy);
  font-size: 1.5rem;
}

.custom-search-card li:hover {
  background-color: var(--navy);
  color: var(--white);
}

.custom-search-card h4 {
  font-family: Karla;
  color: var(--navy);
  margin-bottom: 10px;
  margin-top: 10px;
}

/* DISPLAY RECIPES PAGE */
.vh-80 {
  height: 80vh;
}
.custom-recipe-card-whole {
  background-color: var(--yellowish);
  box-shadow: 2px 2px 2px 2px #bdbab8;
}
.custom-recipe-name {
  color: var(--navy);
  font-family: Karla;
  text-align: center;
}
.custom-recipe-ingredients li {
  color: var(--navy);
  font-family: Inconsolata;
}
.custom-recipe-ingredients button {
  background-color: var(--navy);
  border: none;
}

.custom-recipe-ingredients button:hover {
  background-color: var(--lightBlue);
  color: var(--navy);
  box-shadow: inset 1px 1px 10px #a3cde8; 
}

.custom-recipe-instructions {
  color: var(--navy);
}

.custom-other-recipes {
  background-color: var(--darkBlue);
  font-family: Inconsolata;
  box-shadow: 2px 2px 2px 2px #bdbab8;
}

.custom-other-recipes button {
  background-color: var(--navy);
  color: var(--white);
  font-family: Inconsolata;
  border: none;
}

.custom-other-recipes button:hover {
  background-color: var(--lightBlue);
  color: var(--navy);
  box-shadow: inset 1px 1px 10px #a3cde8; 
}

#hidden-other-el {
  display:none;
}


/* SEE ABOUT THIS HACK  */
/* @media screen and (max-width: 768px) { 
  .custom-other-recipes {
  }
  #hidden-other-el {
    display:block;
    padding-top: 10px !important;
  }
  footer {
    position: static !important; 
    position:static !important;
    left: 0;
    right:0;
  } 
} */

/* SHOPPING LIST */

.shopping-list-whole {
  box-shadow: 2px 2px 2px 2px #bdbab8;
}


.shopping-list-header {
  font-family: Karla;
  color: var(--navy);
  font-size: 5rem;
  padding: 5px;
}

.shopping-list-blurb {
  font-family: Karla;
  color: var(--white);
  font-size: 2rem;
  border: solid 2px red;
  padding: 5px; 
}

.shopping-list-title {
  font-family: Karla;
  background-color: var(--yellowish);
  color: var(--white);
}

.shopping-list-ingredients {
  font-family: Inconsolata; 
  color: var(--navy);
  text-transform: capitalize;
}




/* LIGHT/DAY MODE - NOT BEING USED */
/* .btn-bd-primary {
  --bd-button-bg: #f6ae2d;
  --bd-button-rgb: #dedede;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-button-bg);
  --bs-btn-border-color: var(--bd-button-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #2f4858;
  --bs-btn-hover-border-color: #f6ae2d;
  --bs-btn-focus-shadow-rgb: var(--bd-button-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #2f4858;
  --bs-btn-active-border-color: #f6ae2d;
}


.bd-mode-toggle {
  z-index: 1500; */
