:root {
  --darkBlue: #33658a;
  --lightBlue: #86bbd8;
  --darkestBlue: #2f4858;
  --yellowish: #f6ae2d;
  --orange: #f26419;
  --black: #000;
  --white: #fff;
}

* {
  background-color: linear-gradient(var(--white), var(--lightBlue));
}
header {
  background-color: lightblue;
  padding: 15px;
}
header ul {
  margin: 15px;
}

.nav-item:hover {
  border: 1px solid black;
  box-shadow: inset 2px 2px 15px var(--black);
  border-radius: 15px;
.vh-40 {
  height: 40vh;
}
